<li class="<%= message_heading(message) %> clearfix">
  <span class="chat-img pull-<%= message_heading(message) %>">
  <img src="http://placehold.it/50/55C1E7/fff&text=<%= message.sender_name.first%>" alt="User Avatar" class="img-circle" />
  </span>
  <div class="chat-body clearfix">
    <div class="header">
      <%= message_detail_with_html(message) %>
    </div>
    <p>
      <%= message.content %>
    </p>
  </div>
</li>
